main {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 222px);
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}