footer {
  align-items: center;
  background-color: whitesmoke;
  border-top: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
}

footer > div {
  align-items: center;
  color: grey;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: center;
  width: 80%;
}

.footer-item-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
}

.footer-item-wrapper > p {
  margin-right: 20px;
}

#footer-break {
  color: lightgrey;
  width: 4px;
}

footer span:hover {
  cursor: pointer;
}