article.post {
  width: 70%;
}

div.post-content {
  margin-top: 60px;
}

div.post-content-intro {
  border-bottom: 1px solid lightgrey;
}

div.post-info {
  font-size: 14px;
}

div.post-content-intro h1 {
  font-size: 2.5rem;
  margin: 40px 0 20px 0;
}

div.post-content-markdown {
  margin-top: 60px;
  text-align: justify;
}

pre {
  background: #2d2d2d;
  border: 1px solid #ccc;
  color: #cccccc;
  display: block;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 40px 0 40px 0;
  padding: 10px;
}