section {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

section::after {
  content: "";
  margin-left: 370px;
}

@media only screen and (min-width: 320px) and (max-width: 428px) {
  section {
    min-width: 280px;
  }
}

@media only screen and (min-width: 428px) and (max-width: 768px) {
  section {
    min-width: 300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 842px) {
  section {
    min-width: 600px;
  }
}

@media only screen and (min-width: 842px) and (max-width: 1140px) {
  section {
    min-width: 784px;
  }
}

@media only screen and (min-width: 1140px) and (max-width: 1268px) {
  section {
    min-width: 1036px;
  }
}

@media only screen and (min-width: 1268px) {
  section {
    min-width: 1268px;
  }
}