a.post-tile-slug {
  align-items: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 8px;
  color: rgb(110, 110, 110);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  margin: 10px;
  text-decoration: none;
  transition: all 0.1s ease-out;
}

a.post-tile-slug:hover {
  border: 1px solid grey;
  transition: all 0.1s ease-in;
}

@media only screen and (min-width: 320px) and (max-width: 428px) {
  a.post-tile-slug {
    flex-basis: 260px;
    height: 500px;
  }
}

@media only screen and (min-width: 428px) and (max-width: 768px) {
  a.post-tile-slug {
    flex-basis: 300px;
    height: 500px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 842px) {
  a.post-tile-slug {
    flex-basis: 390px;
    height: 500px;
  }
}

@media only screen and (min-width: 842px) and (max-width: 1140px) {
  a.post-tile-slug {
    flex-basis: 350px;
    height: 500px;
  }
}

@media only screen and (min-width: 1140px) and (max-width: 1268px) {
  a.post-tile-slug {
    flex-basis: 310px;
    height: 500px;
  }
}

@media only screen and (min-width: 1268px) {
  a.post-tile-slug {
    flex-basis: 390px;
    height: 500px;
  }
}

article.post-tile {
  height: 100%;
  width: 100%;
}

.post-tile-image {
  background-color: darkslategrey;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 200px;
}

.post-tile-content {
  height: 260px;
  padding: 20px;
}

.post-tile-content-main {
  height: 240px;
}

.post-tile-content-side {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: flex-start;
  height: 20px;
}

article h2 {
  color: rgb(36, 36, 36);
  padding-bottom: 20px;
}

article h3 {
  font-size: 14px;
  font-weight: normal;
}