.tech-tag {
  border-radius: 2px;
	margin-right: 4px;
	width: 24px;
	height: 24px;
}

.javascript {
	background: url("../images/tech_tags/javascript_icon.webp");
	background-repeat: no-repeat;
  background-size: contain;
}

.typescript {
	background: url("../images/tech_tags/typescript_icon.webp");
	background-repeat: no-repeat;
  background-size: contain;
}