article.post {
  width: 70%;
}

div.post-content {
  margin-top: 60px;
}

div.post-content-intro {
  margin-bottom: 80px;
}

div.post-info {
  font-size: 14px;
}

div.post-content-intro h1 {
  font-size: 2.5rem;
  margin: 40px 0 20px 0;
}

div.post-content-markdown {
  margin-top: 60px;
  text-align: justify;
}

div.post-image-wrapper {
  margin-top: 24px;
}

div.image-source {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 24px;
  width: 100%;
}

div.image-source > p {
  color: darkgrey;
  font-size: 0.6rem;
  font-style: italic;
}

div.image-source > p a {
  color: darkgrey;
  text-decoration: none;
}