#logo-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  margin: 0 30px 0 30px;
  width: 80px;
}

#logo {
  background: url("../../images/logo_ppdotdev.webp");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 6px;
  filter: saturate(0.3);
  height: 50px;
  width: 50px;
}

#logo:hover {
  cursor: pointer;
}

#special {
  border: 1px solid transparent;
  color: rgb(110, 110, 110);
  font-size: 1.8rem;
}

#special:hover {
  border: 1px solid transparent;
  color: rgb(36, 36, 36);
  filter: saturate(1.5);
}

header {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  height: 80px;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 0 0;
  width: calc(100% - 140px);
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 64px;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 120px 0 60px;
  padding: 0;
  width: 100%;
}

nav ul li {
  align-items: center;
  border: 1px solid transparent;
  color: rgb(110, 110, 110);
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  height: 44px;
  transition: all 0.15s ease-out;
}

nav ul li:hover {
  border-bottom: 1px solid gray;
  cursor: pointer;
  transition: all 0.15s ease-in
}

nav ul li.active {
  border-bottom: 1px solid gray;
  color: rgb(36, 36, 36);
  height: 43px;
  transition: all 0.15s ease-in;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  #logo-wrapper {
    margin: 0 8px 0 8px;
  }

  nav ul {
    margin: 0;
  }

  nav ul li {
    font-size: 0.6rem;
    margin: 0 4px 0 4px;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 740px) {
  #logo-wrapper {
    margin: 0 12px 0 30px;
  }

  nav ul {
    margin: 0 20px 0 20px;
  }

  nav ul li {
    font-size: 0.8rem;
    margin: 0 4px 0 4px;
    text-align: center;
  }
}