footer {
  align-items: center;
  background-color: whitesmoke;
  border-top: 1px solid lightgrey;
  clear: both;
  display: flex;
  flex-direction: row;
  min-height: 60px;
  justify-content: center;
  position: relative;
}

footer > div {
  align-items: center;
  color: grey;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: center;
  width: 80%;
}

.footer-item-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
}

.footer-item-wrapper > p {
  margin-right: 20px;
}

.footer-item-wrapper > .tech-tags {
  display: flex;
  flex-direction: row;
}

#footer-break {
  color: lightgrey;
  width: 4px;
}

footer span:hover {
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 428px) {
  footer > div {
    font-size: 10px;
    width: 100%;
  }

  footer .author {
    margin-bottom: 0;
  }

  .footer-item-wrapper {
    flex-direction: column;
  }

  .footer-item-wrapper:not(.author) > p {
    margin-bottom: 6px;
    margin-right: 0;
    text-align: center;
  }

  .footer-item-wrapper.author > p {
    margin-bottom: 0;
    margin-right: 0;
    text-align: center;
  }

  .footer-item-wrapper .tech-tag {
    border-radius: 2px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
}