#logo-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  margin: 0 30px 0 30px;
  width: 80px;
}

#logo {
  background: url("./images/73974310.webp");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 6px;
  filter: saturate(0.3);
  height: 53px;
  width: 52px;
}

#logo:hover {
  cursor: pointer;
}

#special {
  border: 1px solid transparent;
  color: rgb(110, 110, 110);
  font-size: 1.8rem;
}

#special:hover {
  border: 1px solid transparent;
  color: rgb(36, 36, 36);
  filter: saturate(1.5);
}

header {
  background-color: whitesmoke;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  height: 80px;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 0 0;
  width: 100%;
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 64px;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 120px 0 60px;
  padding: 0;
  width: 100%;
}

nav ul li {
  align-items: center;
  border: 1px solid transparent;
  color: rgb(110, 110, 110);
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  height: 44px;
  transition: all 0.1s ease-out;
}

nav ul li:hover{
  border-bottom: 1px solid rgb(36, 36, 36);
  cursor: pointer;
  transition: all 0.1s ease-in
}

nav ul li.active {
  color: rgb(36, 36, 36);
  transition: all 0.1s ease-in;
}